<div class="page">
<div class="container">
  <router-outlet></router-outlet>
</div>

<br/>
<h3>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      More Fun
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <div align="center">
        <img width="400" height="550"
             src="https://i.pinimg.com/originals/f5/34/13/f53413bb0df11a77d8ddd0cf34907094.jpg"/>
        <img width="400" height="550"
             src="https://cdn2-www.cattime.com/assets/uploads/gallery/25-funny-cat-memes/01_FUNNY-CAT-MEME.jpg"/>
      </div>
    </ng-template>
  </mat-expansion-panel>
</h3>

</div>


